.table{
  border-spacing: 15px;
  background: #0000;
  width: 90%;
  margin: 20px auto;
  color: teal;
  font-size: 20px;
  text-align: left;
  border-collapse: collapse;
}
.table th, .table td{
  text-align: left;
  padding: 10px;

}
.tbody{
  text-align: left;
  color: black;
  font-size: 16px;
}