.table{
  border-spacing: 15px;
  background: #0000;
  width: 90%;
  margin: 40px auto;
  color: teal;
  font-size: 16px;
  text-align: left;
  border-collapse: collapse;
  box-shadow : 1px 1px 5px 1px grey;
}
.table th, .table td{
  text-align: left;
  padding: 15px;
  background: white;
  border-bottom: 1px solid #80808045;
}
.tbody{
  text-align: left;
  color: black;
  font-size: 14px;
}